.hero {
    width: 100%;
    clear: "both";
    padding-top: 50px; 
}

.jumbotron {
    padding-top:110px;
    background-color: #424242;
    color:#b6b6b6;
}

h1 {
    font-size: 42px;
    margin-top: 50px;
    color:#b6b6b6 !important;
}
